.wall-comment-item {
	margin-bottom: 2px;
	min-height: 70px;
	width: 100%;
	background-color: #ffffff;//rgba(248,253,255,0.51);
	//border-top: 2px solid rgba(35,218,235,0.3);
	border-radius: 0px;
	color: rgba(0,0,0,0.51);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	box-sizing: border-box;
}


.comment-avatar {
	box-sizing: border-box;
	width: 70px;
	height: 70px;
	border-radius: 50px;
}

.comment-picture {
	box-sizing: border-box;
	max-width: 100%;
	overflow: hidden;
}

.name-in-row {
	max-width: 30ch;
	white-space: nowrap;
	overflow: hidden;
}

.comment-header {
	display: flex;
	padding: 5px;
	justify-content: space-between;
}

.comment-text {
	padding: 5px;
}

.comment-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 100%;
	overflow: hidden;
	box-sizing: border-box;
}

.comment-additional {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	max-width: 100%;
	overflow: hidden;
	box-sizing: border-box;
}

.comment-additional-item {
	display: flex;
	width: 33%;
	margin: 5px;
	border-radius: 5px;
	p {
		padding-left: 7px;
	}
}

.comment-additional-item:hover {
	background-color: rgba(35, 218, 235, 0.68);
	color: #ffffff;
	transition: 0.9s;
}

.additional-icon {
	width: 30px;
	height: 30px;
}